.error{
    // border: red 1px solid;
    // width: 30%;
    // margin-left: 25%;
    text-align: center;
    color: red;
    font-weight: 900;
    width: 60%;
    padding: 1%;
    margin-left: 20%;
    border-radius: 2px;
    background-color: rgb(242, 223, 223);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Login{
    
    display: inline-flex;
    margin-left: 20%;
    padding-top: 5%;
    h1{
        font-size: xx-large;
        margin-left: 10%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

.backImage{
    img{
        border-radius: 25px;
    }
}
